@model AppalachianHarvest.Models.ViewModels.EditProducerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Producer.ProducerId" />
            <div class="form-group">
                <label asp-for="Producer.FirstName" class="control-label"></label>
                <input asp-for="Producer.FirstName" class="form-control" />
                <span asp-validation-for="Producer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.LastName" class="control-label"></label>
                <input asp-for="Producer.LastName" class="form-control" />
                <span asp-validation-for="Producer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.BusinessName" class="control-label"></label>
                <input asp-for="Producer.BusinessName" class="form-control" />
                <span asp-validation-for="Producer.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.Phone" class="control-label"></label>
                <input asp-for="Producer.Phone" class="form-control" />
                <span asp-validation-for="Producer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.Email" class="control-label"></label>
                <input asp-for="Producer.Email" class="form-control" />
                <span asp-validation-for="Producer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.Address" class="control-label"></label>
                <input asp-for="Producer.Address" class="form-control" />
                <span asp-validation-for="Producer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.City" class="control-label"></label>
                <input asp-for="Producer.City" class="form-control" />
                <span asp-validation-for="Producer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.State" class="control-label"></label>
                <input asp-for="Producer.State" class="form-control" />
                <span asp-validation-for="Producer.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer.ZipCode" class="control-label"></label>
                <input asp-for="Producer.ZipCode" class="form-control" />
                <span asp-validation-for="Producer.ZipCode" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="ProducerImage" class="control-label"></label>
                <input hidden readonly value="@Model.ProducerImage" class="form-control" />
            </div>*@

            <div>

                @if (Model.Producer.ProducerImage != null)
                {
                    {

                        var base64 = Convert.ToBase64String(Model.Producer.ProducerImage);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);


                        <img class="producerImgThumb" style="width:40px" src="@imgSrc" />
                    }

                }


            </div>
            <div class="form-group">
                <br>
                <label>Upload or change your profile image:</label>
                <input type="file" name="ImageUpload" asp-for="Producer.ImageUpload">
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input readonly class="form-check-input" asp-for="Producer.IsActive" /> @Html.DisplayNameFor(model => model.Producer.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
