@{
    ViewData["Title"] = "Home Page";
        var imgSrc = Url.Content("https://localhost:5001/Images/AppalachianHarvestLogo.png");

}

    <div class="text-center">
        <img class="mainLogo" style="width:500px" src="@imgSrc" />

    </div>
